<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width= device-width,inital-scale=1.0">
    <title>关于我</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--导航-->
<nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i> 首页</a>
            <a href="#" class=" m-item item m-mobile-hide"><i class="idea icon"></i> 分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i> 标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i> 归档</a>
            <a href="#" class="active m-item item m-mobile-hide"><i class="info icon"></i> 关于我</a>

            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="搜索">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
     <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
         <i class="sidebar icon"></i>
     </a>
</nav>

<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">

        <div class="ui stackable grid">
          <div class="eleven center wide column">
              <div class="ui top attached segment">
                  <div class="ui m-font header">&nbsp;&nbsp;
                      关于我</div>
              </div>
              <div class="ui attached segment">
                  <p class="m-text">&nbsp;&nbsp;&nbsp;&nbsp;在一棵樱花树前停下了脚步。
                      这里不是春天的世界，她还不曾来得及绽放自己的美丽。
                      于是，她只好迎着秋风沐浴。 初秋的风似乎还残留着夏的温纯。
                      秋光最是柔软，她想。三月江南的杨花，六月妩媚的天空， 九月的诗，腊月的雪。
                      四季里美丽的片段在你和我眼神相遇的那一刻定格。
                      一树繁花。 秋，在这时戛然而止。 “忽如一夜春风来，千树万树梨花开”。
                      我并不能够穿透这其中的深蕴。但我知道我喜欢这句诗， 并不是整首。
                      就像我喜欢某个男孩深邃的眼睛，却并不是爱他一样、、、、虽然已经是深冬，但她一点也 不觉得冷。
                      她裹着一身洁白晶莹的雪珠，沉浸在冬天的世界。
                      就像羽翼丰满的水鸟欢快地在水底自由潜泳 一样。
                      但这是潜伏中的敌人，冥冥之中致命的一击，秋刀鱼也拿他没办法。
                      天上的牛郎和织女隔着一亿光年的距离为她悲伤。蓝季。
                      写在贝壳上的诗，它改变不了亘古的主题永恒。贝壳背上的伤痕见证者这世上沧桑和无奈。
                      琉璃城的七色花不算太美，仙女棒也不能带来光芒。
                      我在此停留，却并非为你，就像我会依旧微笑， 但并不代表一切都好。 一片叶子掉落了，因为美丽的脉络被捡起和制作成标本，美凝固了。最后，它慢慢地变黄、变淡，褪 掉了本色。它被遗失，被忘记，可是依然在自己的梦中飞翔。她就是这样的一片叶子，她被遗留在了冬季，不 是她不想走，是时间忘了带她走。 这是最让人心碎的一季。 路过你的时光，是我一生之中最美好的遇见。
              </div>
              <div class="ui m-right-bottom bottom attached segment">
                  <div class="m-right-bottom">
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="https://github.com/Syen-Entrepot" class="ui circular icon button"><i class="github icon"></i></a>
                      <a href="#" class="ui qq circular icon button" data-content="2298990021" data-position="bottom center"><i class="qq icon"></i></a>
                  </div>
                  </div>

          </div>
        </div>
    </div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>



<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
<div class="ui center aligned container">
    <div class="ui inverted divided stackable grid">
        <div class="three wide column">
            <div class="ui inverted link list">
                <div class="item">
                    <img src="../static/images/sun.png" th:src="@{/images/sun.png}" class="ui round image" alt="" style="width: 110px">
                </div>
            </div>

        </div>
        <div class="three wide column">
            <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
            <div class="ui inverted link list ">
                 <a href="#" class="item">用户故事(User Story)</a>
                 <a href="#" class="item">用户故事(User Story)</a>
                 <a href="#" class="item">用户故事(User Story)</a>
            </div>
        </div>
        <div class="three wide column ">
            <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
            <div class="ui inverted link list ">
                <a href="#" class="item ">Email: 2298990021@qq.com</a>
                <a href="#" class="item ">qq: 2298990021</a>
            </div>
        </div>
        <div class="seven wide column">
            <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
            <p class="m-text-thin m-text-spaced m-opacity-mini stackable">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助！</p>
        </div>
    </div>
    <div class="ui inverted section divider"></div>
    <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright @ 2019-2020 wusen Designed by wusen</p>
</div>
</footer>

<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="../static/js/jquery-3.4.1.js" th:src="@{/js/jquery-3.4.1.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.wechat').popup({
        popup:$('.wechat-qr'),
        position:'bottom center'
    });
    $('.qq').popup();

</script>

</body>
</html>